* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.converter {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #eeaeca, #94bbe9);
    color: #fff;
    padding: 10px;
}

h1 {
    margin: 50px auto;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: black;
}

.box {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 20px;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    box-sizing: border-box;
    box-shadow: 0 20px 28px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    transition: .5s ease-out;
}

.container :hover {
    transform: scale(1.1);
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

input[type="number"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease-out;
}

button:hover {
    background-color: transparent;
    color: black;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .box {
        width: 90%;
        padding: 20px;
        margin: 30px auto;
    }

    .input-group label,
    .input-group input[type="number"],
    .input-group select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    input[type="number"],
    select {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    .box {
        width: 100%;
        padding: 15px;
        margin: 20px auto;
    }

    .input-group label,
    .input-group input[type="number"],
    .input-group select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    input[type="number"],
    select {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}